/* base palette pulled from https://github.com/vuejs/theme */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #1f2937;
  --vt-c-black-mute: #111827;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(15, 23, 42, 0.18);
  --vt-c-divider-light-2: rgba(15, 23, 42, 0.08);
  --vt-c-divider-dark-1: rgba(148, 163, 184, 0.4);
  --vt-c-divider-dark-2: rgba(148, 163, 184, 0.25);

  --vt-c-text-light-1: #0f172a;
  --vt-c-text-light-2: #334155;
  --vt-c-text-dark-1: #e2e8f0;
  --vt-c-text-dark-2: #cbd5f5;

  --section-gap: 160px;
  --font-family-base: 'Martian Mono', system-ui, 'Helvetica Neue', sans-serif;
  --transition-theme: 0.25s ease;
}

:root {
  --accent-color-50: #F7FEE7;
  --accent-color-100: #ECFCCA;
  --accent-color-200: #D8F999;
  --accent-color-300: #BBF451;
  --accent-color-400: #9AE600;
  --accent-color-500: #7CCE00;
  --accent-color-600: #5EA500;
  --accent-color-700: #497D00;
  --accent-color-800: #3C6300;
  --accent-color-900: #35530E;
  --accent-color-950: #192E03;

  --stone-color-50: #FAFAF9;
  --stone-color-100: #F5F5F4;
  --stone-color-200: #E7E5E4;
  --stone-color-300: #D6D3D1;
  --stone-color-400: #A6A09B;
  --stone-color-500: #79716B;
  --stone-color-600: #57534D;
  --stone-color-700: #44403B;
  --stone-color-800: #292524;
  --stone-color-900: #1C1917;
  --stone-color-950: #0C0A09;
}

:root {
  --surface-body: #ffffff;
  --surface-panel: #ffffff;
  --surface-panel-border: rgba(15, 23, 42, 0.08);
  --surface-panel-shadow: 0 10px 20px rgba(15, 23, 42, 0.08);
  --color-text-primary: var(--vt-c-text-light-1);
  --color-nav-bg: var(--stone-color-100);
  --color-nav-link: var(--accent-color-950);
  --color-nav-link-hover-bg: var(--stone-color-200);
  --color-nav-link-active-bg-g0: var(--accent-color-400);
  --color-nav-link-active-bg-g100: var(--accent-color-300);
  --color-nav-link-active-text: var(--accent-color-950);
  --color-nav-link-active-hover-bg: var(--accent-color-300);
  --color-focus:  var(--accent-color-950);
}

:root[data-theme='dark'] {
  --surface-body: var(--stone-color-900);
  --surface-panel: var(--stone-color-800);
  --surface-panel-border: var(--stone-color-700);
  --surface-panel-shadow: 0 15px 35px var(--stone-color-950);
  --color-text-primary: var(--vt-c-text-dark-1);
  --color-nav-bg: var(--stone-color-800);
  --color-nav-link: var(--accent-color-50);
  --color-nav-link-hover-bg: var(--stone-color-700);
  --color-nav-link-active-bg: var(--accent-color-400);
  --color-nav-link-active-text: var(--accent-color-950);
  --color-nav-link-active-hover-bg: var(--accent-color-300);
  --color-focus: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text-primary);
  background: var(--surface-body);
  transition:
    color var(--transition-theme),
    background-color var(--transition-theme);
  line-height: 1.6;
  font-family: var(--font-family-base);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
