@import './base.css';

#app {
  min-height: 100vh;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: 'Mango Grotesque';
  font-weight: 900;
  line-height: 80%;
  text-transform: uppercase;
  font-size: 35vw;
  color: var(--stone-color-200);
}

h2 {
  font-family: 'Mango Grotesque';
  font-weight: bold;
  font-size: 74px;
  line-height: 64px;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: 'Mango Grotesque';
  font-weight: bold;
  font-size: 64px;
  line-height: 56px;
  text-transform: uppercase;
}

section {
  padding: 2rem 0;
}